<h1>
  There was an issue processing your payment of <%= Money.from_amount(@amount, @currency).format(with_currency: true, symbol: false, no_cents_if_whole: true) %>
</h1>

<dl>
  <dt>Invoice ID</dt>
  <dd>
    <%= @invoice.invoice_number %>
  </dd>

  <dt>Invoice amount</dt>
  <dd>
    <%= cents_format(@invoice.total_amount_in_usd_cents, with_currency: true, symbol: false) %>
  </dd>

  <dt>Status</dt>
  <dd>
    Payment failed
  </dd>
</dl>

<p>
  Our team has been notified and is currently investigating the issue. No action is required from you at this time.
</p>

<p>
  We’ll keep you informed as we work to resolve the issue and ensure your payment is successfully processed.
</p>

<p>
  If you have any urgent questions, please contact our support team.
</p>

<br>
